.product-card-container {
    padding: 20px;
    flex: 1 0 50%;
    max-width: 700px;
    @media only screen and (max-width: 800px) {
        max-width: 100%;
    }
}

.product-card {
    display: flex;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    @media only screen and (max-width: 800px) {
        flex-direction: column;
        width: 100%;
    }
    // @media only screen and (max-width: 800px) {
    //     flex-direction: column;
    //     width: 100%;
    // }
}

.product-card-left {
    border-right: 1px solid rgba(0,0,0,0.1);
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    @media only screen and (max-width: 800px) {
        width: 100%;
    }
}

.product-img {
    width: 100%;
    @media only screen and (max-width: 800px) {
        max-width: 60%;
    }
}

.product-card-right {
    padding: 25px;
    width: 50%;
    @media only screen and (max-width: 800px) {
        width: 100%;
    }
}

.product-card-title {
    font-size: 35px;
    font-weight: 400;
    margin: 0 !important;
}

.product-card-subtitle {
    font-size: 18px;
    margin: 0 !important;
    font-weight: 300;
    text-transform: uppercase;
    opacity: 0.8;
}

.product-card-price {
    margin: 20px 0;
    font-weight: 200;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.product-card-price-symbol {
    font-size: 35px !important;
}
.product-card-description {
    font-size: 16px;
    font-weight: 300;
    padding: 0 !important;
    margin: 0 !important;
}

.product-card-buttons-container {
    // border: 1px solid;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.product-card-button {
    padding: 10px 20px;
    background-color: transparent !important;
    border: 1px solid rgba(0,0,0,0.2) !important;
    text-transform: uppercase;
    color: rgba(0,0,0,0.6);
    &:hover {
        color: rgba(0,0,0,0.8);
        border-color: rgba(0,0,0,0.4) !important;
    }
}